/*
Program Name: style.css
Author: Jemimah Emmanuel
Date Created: 06/17/2026
Description: The styling for the patient registration form
*/

/* Background*/
body{
  background-color: #f2f6ff;
  font-family: Arial, sans-serif;
  margin: 0;
  paddings: 0;
}

/* Banner styling */
#banner {
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Main heading */
h1 {
    margin: 0;
    font-size: 28px;
}

/* Date text */
#date {
    margin-top: 5px;
    font-size: 14px;
}

/* General form spacing (we'll use later) */
table {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Inputs styling */
input, select, textarea {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

td {
  padding: 8px;
  vertical-align: middle;
  white-space: normal;
}

td:first-child {
  width: 25%;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
}

td:nth-child(2),
td:nth-child(4) {
  width: 25%;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 200px;
}
